.win-rate-by-count-chart {
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 15px 2px #00000083;
    padding-bottom: 2rem;
}

.title {
    margin-left: 2rem;
    font-weight: 500;
    letter-spacing: .5px;
    line-height: 4rem;
}

.line {
    height: 1px;
    width: 100%;
    background-color: #0000004f;
    margin-bottom: 1rem;

}

.wholeChart {
    padding: 0 5rem;
}

.chart-list {
    list-style: none;
}

.chart-item {
    display: flex;
    margin-bottom: 0.5rem;
}

.stage-label {
    text-align: end;
    width: 4rem;
    margin-right: 1rem;
    font-size: 0.9em;
    padding-top: 0.3rem;
}

.progress-wrapper {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.progress-bar-wrapper {
    display: flex;
    align-items: center;
    width: 100%;
}

.progress-bar-container {
    display: flex;
    justify-content: center;
    flex: 1;
    background-color: #bfbfbfbd;
    border-radius: 3px;
    overflow: hidden;
    height: 1.6rem;
}

.progress-bar {
    background-color: #70ad47;
    color: white;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.8em;
    padding: 0 0.3rem;
}

.bar-label {
    white-space: nowrap;
}

.won-percent {
    min-width: 2rem;
    font-size: 0.9em;
    text-align: left;
    margin-left: 0.5rem;
}

.qualify-percent {
    font-size: 0.8em;
    text-align: center;
    margin-top: 0.2rem;
    width: calc(100% - 40px);
}