.win-rate-by-count-chart {
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 5px 10px 2px #00000057;
    padding-bottom: 2rem;
}

.title {
    font-family: Roboto;
    margin-left: 2rem;
    letter-spacing: .5px;
    line-height: 4rem;
}

.line {
    height: 1px;
    width: 100%;
    background-color: #0000004f;
    margin-bottom: 2rem;
}

.wholeChart {
    min-width: 420px;
    padding: 0 4rem;
}

.chart-list {
    list-style: none;
}

.chart-item {
    display: flex;
    margin-bottom: 0.5rem;
}

.stage-label {
    font-family: Roboto;
    text-align: end;
    width: 4rem;
    margin-right: 1rem;
    font-size: 0.93em;
    padding-top: 0.3rem;
}

.progress-wrapper {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.progress-bar-wrapper {
    display: flex;
    align-items: center;
    width: 100%;
}

.progress-bar-container {
    display: flex;
    justify-content: center;
    flex: 1;
    /* background-color: #bfbfbfbd; */
    background-color: #bfbfbf;
    border-radius: 3px;
    overflow: hidden;
    height: 1.6rem;
}

.progress-bar {
    background-color: #70ad47;
    color: white;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.9em;
    padding: 0 0.3rem;
    /* font-family: Roboto; */
    font-weight: 600;
}

.bar-label {
    white-space: nowrap;
}

.won-percent {
    font-family: Roboto;
    font-weight: 600;
    min-width: 2rem;
    font-size: 0.9em;
    text-align: left;
    margin-left: 0.5rem;
}

.qualify-percent {
    font-family: Roboto;
    font-weight: 600;
    font-size: 0.8em;
    text-align: center;
    margin-top: 0.2rem;
    width: calc(100% - 40px);
}

@media (max-width: 1200px) {
    .wholeChart {
        padding: 0 2rem;
    }
}


@media (max-width: 700px) {
    .wholeChart {
        padding: 0 1rem;
    }

    .stage-label {
        width: 3.1rem;
    }
}